body {
	font-family: 'Raleway', sans-serif !important;
	color: black;
}
.logo{
	text-align: center;
}
.grad70{
	background: linear-gradient(rgb(0, 0, 0) 65%, red); 
}
.container-flex-column {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 2em;
	/* height: 100vh; */
}
.vh100{
	height: 100vh;
}
