.body{
	margin:0;
}
.container-flex-column {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 2em;
	/* height: 100vh; */
}
#imgSalida {
    width: 40%;
    height: 40%;
}
.mama{
	margin: 0;
}

.img-fluid {
    width: 60px;
    height: 60px;
    padding-bottom: 10px;
    padding-top: 5px;
    color: mediumorchid;
}

.text{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
}
.usuaria-m{
	height: 200px;
	text-align: center;
	border-radius: 50%;
	border: 3px solid rgb(232, 185, 185);
	padding-top: 0;
}
.usuaria-d {
    border-radius: 20%;
		/* outline: 1px solid red; */
	
}

.icon {
    color: yellow;
}

.text-estado {
   
    /* outline: 1px solid blue; */
}

.container-desktop {
    display: inline-block
}

.text-mobile{
	padding: 5px;
	width: 80%;
	margin:0;
	border:0;
	
}
.box-mobile{
	background-color: #f3afaf;
	padding: 10px;
}

.box-desktop{
	border-radius: 6%;
	height: 210px;
	background-color: #f3afaf;
	padding: 6px;
	margin: 10px;
	outline: 2px solid red;

}

#margin-0{
	margin: 0;
}
/* section */
.btn-outline-success{
	width:70%;
	text-align: center;
}
.updates{
	width: 80%;
	height: 100px;
	border: 1px solid gray;
	pad
}