/* helpers */

/* Seccion index.htnl */
.bg-main {
    background-image: url(../assets/img/bg-home.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.navbar {
    background-color: #f3afaf;
}

.navbar-header {
    background-color: #f3afaf;
    padding: 8px;
}

.logo-up {
    padding-top: 30px;
}

.logo-center {
    width: 30vh;
    height: auto;
    padding-top: 50px;
}

.logo-tulipan {
    width: 30%;
    height: auto;
}

.button {
    padding-top: 50px;
}

.button-login,
.button-signup {
    display: inline-block;
    padding: 20px;
}

.button-mobile {
    padding-top: 200px;
}

.btn-lg {
    max-width: 100%;
    background-color: rgb(202, 7, 209);
    font-weight: bold;
    font-size: 13px;
    color: white;
    border: solid gray;
    border-radius: 10%;
    padding: 10px;
}

.btn-lg:hover {
    background: #f3afaf;
}

.btn-lg:active {
    background: hsla(12, 85%, 61%, 0.932);
}
/* ------------FIN------------- */

/* Seccion signup.html */
.body-signup {
    background-image: url(../assets/img/bg-home.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


/* Seccion login.html */
.body-login {
    background-image: url(../assets/img/bg-home.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
/* ------------FIN------------- */

/* Seccion Home.html */
.container-flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em;
}

#imgSalida {
    width: 40%;
    height: 40%;
}

.img-fluid {
    width: 60px;
    height: 60px;
    padding-bottom: 10px;
    padding-top: 0px;
    color: mediumorchid;
}

.text {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
}

/* Zona mobile */
.usuaria-m {
    height: 250px;
    width: 200px;
    text-align: center;
    border-radius: 30%;
    border: 3px solid rgb(232, 185, 185);
    padding-top: 0;
    margin: 0;
}

.text-mobile {
    padding: 5px;
    width: 80%;
    margin: 0;
    border: 0;
}

#margin-0 {
    margin: 0;
}

.box-mobile {
    background-color: #f3afaf;
    padding: 10px;
    border-radius: 10%;
}

/* Zona desktop */
.usuaria-d {
    border-radius: 20%;
}

.icon {
    color: yellow;
}

.container-desktop {
    display: inline-block
}

.box-desktop {
    border-radius: 6%;
    height: 210px;
    background-color: #f3afaf;
    padding: 6px;
    margin: 10px;
  
}

/* Area: ingreso de mensajes*/

.row-textarea {
    text-align: center;
}

.new-msj {
    position: relative;
    display: block;
    width: 90%;
    border-radius: 6%;
    border: 2px solid gray;
    text-align: center;
}

/* Zona mobile */
.box-updates {
    width: 80%;
    height: 100px;
}

.btn-outline-success {
    width: 70%;
    text-align: center;
}

/* Area: noticias */
.box-noticias {
    width: 85%;
    height: 310px;
    border-radius: 5%;
    border: 2px solid #f3afaf;
}

.text-noticias {
    width: 90%;
    text-align: center;
    text-align: justify;
}

.title-noticias {
    font-weight: bold;
}

.img-noticias {
    width: 80%;
    height: 150px;
    padding: 10px;
    border-radius: 8%;
}
/* ------------FIN------------- */


