<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	<link rel="stylesheet" href="../css/main.css">
	<title>Red Social</title>
</head>

<body class="container">
	<!--nav-->
	<nav class="navbar navbar-default">
		<div class="container-fluid ">
			<!-- Navbar for mobile -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed pull-rigth" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
				  aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand img-fluid" href="#">
					<img src="../assets/img/nomas.svg" alt="Logo" class="img-fluid hidden-xs">
					<img src="../assets/img/nomas.svg" alt="Logo" class="img-fluid hidden-sm hidden-md hidden-lg text-center">
				</a>
			</div>

			<!-- Menu visible in desktop and tablets -->
			<div class="collapse navbar-collapse navbar__items" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li>
						<a href="#">Hola @Juana, estas conectada</a>
					</li>
					<li>
						<a href="#">Novedades</a>
					</li>
					<li>
						<a href="#" data-toggle="modal" data-target="#sign-up">Mis favoritos</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<!-- Seccion de informacion de la usuaria -->
	<main class="container-flex-column">
		<div class="container text-center">
			<!-- mobile -->
			<div class="text-center">
				<div class="col-xs-12 text hidden-sm hidden-md hidden-lg usuaria-m">
					<br>
					<figure class="">
						<img class="img-responsive" src="../assets/img/avatar.png" alt="usuaria">
					</figure>
					<figcaption>
						<p class=" text-name">Juana Lopez</p>
						<button type="button" class="btn btn-light">Mis match
							<span class="icon">
								<i class="fa fa-star" aria-hidden="true"></i>
							</span>
						</button>
					</figcaption>
				</div>
				<div class="text-mobile">
					<div class="col-xs-12 hidden-sm hidden-md hidden-lg text-estado box-mobile" id="margin-0">
						Mi dia hoy no ha sido facil, y entiendo que son parte del dia dia y de crecer cada dia mas ...!muchos exitos para todos...
					</div>
				</div>
			</div>

			<!-- Desktop -->

			<div class="rowtext text-center">
				<div class="col-sm-3 col-md-4 col-lg-4 text-center hidden-xs usuaria-d">
					<figure>
						<img class="img-responsive" src="../assets/img/avatar.png" alt="usuaria">
					</figure>
					<figcaption>
						<p class=" text text-center">Juana Lopez</p>
						<button type="button" class="btn btn-light">Mis matchs
							<span class="
								icon">
								<i class="fa fa-star" aria-hidden="true"></i>
							</span>
						</button>
						<button type="button" class="btn btn-outline-success">Mis actividades
						</button>
					</figcaption>
				</div>
				<div class="col-sm-8 col-md-8 col-lg-8 offset-sm-4 hidden-xs text-estado box-desktop">
					<p>
						Hoy me siento...Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor fugit sunt provident, enim cupiditate exercitationem
						nostrum consequatur modi voluptas esse ullam earum qui. Quis ut amet libero nam, reiciendis enim? Lorem ipsum dolor
						sit amet consectetur adipisicing elit. Iste itaque eum voluptatum, vero voluptas ducimus temporibus illum ipsa perferendis
						quaerat assumenda delectus nostrum eius! Soluta itaque facere ad tempore aut.
					</p>
				</div>
			</div>
		</div>
	</div>
	</main>

	<!-- ingreso de mensajes-->
	<section>
		<div class="container mama">
			<div class="row-textarea">
				<div class="form-group box-updates">
					<textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
					<button type="button" class="btn btn-success  button-msj">Subir</button>
				</div>
			</div>
			<!-- <div></div> -->
		</div>
	</section>

	<section class="text-center">
		<!-- subiendo imagen para compatir -->
		<!-- mobile -->
		<div class="col-xs-12 hidden-sm hidden-sm hidden-lg intro-img-mobile">
			<h3 class="text">Tienes algo que compartir hoy</h3>
			<div id="preview" class="thumbnail">
				<img class="img-responsive" src="" />
			</div>
			<a href="#" id="file-select" class="btn btn-default">Elegir archivo</a>
			<form id="file-submit" enctype="multipart/form-data">
				<!-- <input id="file" name="file" type="file" /> -->
			</form>
		</div>

		<!-- desktop -->
		<div class="col-sm-8 col-md-8 col-lg-8 hidden-xs img-intro-desktop">
			<h3 class="text">Tienes algo que compartir hoy</h3>
			<div id="preview" class="thumbnail">
				<img class="img-responsive" src="" />
			</div>
			<a href="#" id="file-select" class="btn btn-default">Elegir archivo</a>
			<form id="file-submit" enctype="multipart/form-data">
				<!-- <input id="file" name="file" type="file" /> -->
			</form>
		</div>
	</section>

	<!-- noticias -->
	<section class="container">
		<div class="row">
			<div class="box-noticias center-items">
				<a href="" class="pull-left">Actualidades</a>
				<br>
				<figure>
					<img class="img-noticias text-center img-responsive" src="../assets/img/oprah.jpg" alt="">
				</figure>
				<figcaption>
					<h4 class=" text-left title-noticias">
						Los globos de Oro y del valor femenino, contra el abuso.
					</h4>
					<h5 class=" text-left text-noticias"> La edicion de los 75 se vivio enttre discursos de apoyo a la mujer y muestras de repudio al acoso sexual en Hollywood;
						los galardones reflejaron la diversidad de la critica.
						<a href="http://www.milenio.com/hey/cine/premios_globos_oro-guillermo_toro-shape_water-acoso-abuso_sexual-oprah_winfrey_0_1099690034.html">leer mas</a>
					</h5>
				</figcaption>

			</div>
		</div>

	</section>





	<script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
	<script src="../js/home.js"></script>
	<script src="../js/app.js"></script>
</body>

</html>